In [242]:
import numpy as np
import pandas as pd

data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
dup_data=data
dup_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

Removed the Unnamed Column

In [243]:
data.drop('Unnamed: 0',axis = 1,inplace = True)

Removed the units from the attributes and kept only the numerical values.

For This first I have converted datatype to string and performed split operation to separate numerical values.
After seperation changed the data type as Float or Integer according to the need.

Mileage - Float (since for ex: 19.67, 13, 20.77, ...)

Engine - Integer (since for ex: 1582, 1199, 1248, ...)

Power - Float (since for ex: 126.2, 88.7, 88.76, ...)

New_Price - Float (since for ex: 8.61, 7.88, ...)

In [244]:
data['Mileage'] = data['Mileage'].astype(str)
data['Mileage'] = data['Mileage'].str.split().str[0].astype(float)
data['Engine'] = data['Engine'].astype(str)
data['Engine'] = data['Engine'].str.split().str[0].astype(float)
data['Engine'] = data['Engine'].fillna(0).astype(int)
data['Power'] = data['Power'].astype(str)
data['Power'] = data['Power'].str.split().str[0].astype(float)

data['New_Price'] = data['New_Price'].astype(str)
data['New_Price'] = data['New_Price'].str.split().str[0].astype(float)

data.dtypes
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5.0,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199,88.70,5.0,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5.0,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.10,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,74.00,5.0,7.88,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120,71.00,5.0,NaN,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498,112.00,8.0,NaN,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998,67.10,5.0,NaN,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936,57.60,5.0,NaN,2.50

Filled the missing value of Seats by the ***mode*** of the Cars by Name.

Removed the other rows where we could not find single row with similar Name.

In [247]:
data['Seats'] = data.groupby('Name')['Seats'].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x)
data = data.dropna(subset=['Seats'])
data.loc[:, 'Seats'] = data['Seats'].astype(int)
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199,88.70,5,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.10,5,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,74.00,5,7.88,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120,71.00,5,NaN,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498,112.00,8,NaN,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998,67.10,5,NaN,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936,57.60,5,NaN,2.50

Found the distinct values of Fuel Type and Transmission so that it will help us in changing it to a Categorical Value.

In [248]:
distinct_FuelType = data['Fuel_Type'].unique()
distinct_FuelType

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [249]:
distinct_Transmission=data['Transmission'].unique()
distinct_Transmission

array(['Manual', 'Automatic'], dtype=object)

Fuel Type Categorical Value changed to Numerical Value:

Since we have 3 distinct vaules in Fuel Type i.e.,

Diesel:0

Petrol:1

Electric:2

In [250]:
Fuel_Type_Mapping = {'Diesel': 0, 'Petrol': 1, 'Electric': 2}
data.loc[:, 'Fuel_Type'].replace(Fuel_Type_Mapping, inplace=True)
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,Manual,First,19.67,1582,126.20,5,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,1,Manual,First,13.00,1199,88.70,5,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,0,Manual,First,20.77,1248,88.76,7,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,Automatic,Second,15.20,1968,140.80,5,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,Manual,First,23.08,1461,63.10,5,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,0,Manual,First,28.40,1248,74.00,5,7.88,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,Manual,First,24.40,1120,71.00,5,NaN,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,Manual,Second,14.00,2498,112.00,8,NaN,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,1,Manual,First,18.90,998,67.10,5,NaN,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,Manual,First,25.44,936,57.60,5,NaN,2.50

Transmission Categorical Value changed to Numerical Value:

Since we have 2 distinct vaules in Transmission Type i.e.,

Manuel:0

Automatic:1

In [251]:
Transmission_Mapping = {'Manual': 0, 'Automatic': 1}
data.loc[:, 'Transmission'].replace(Transmission_Mapping, inplace=True)
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,NaN,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,NaN,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,NaN,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,NaN,2.50

Finding the number of NaN and zero value of each column.

In [252]:
nan_zero_count_Year = data['Year'].isna().sum() + (data['Year'] == 0).sum()
nan_zero_count_Kilometers_Driven = data['Kilometers_Driven'].isna().sum() + (data['Kilometers_Driven'] == 0).sum()
nan_zero_count_Fuel_Type = data['Fuel_Type'].isna().sum()
nan_zero_count_Transmission = data['Transmission'].isna().sum()
nan_zero_count_Mileage = data['Mileage'].isna().sum() + (data['Mileage'] == 0).sum()
nan_zero_count_Engine = data['Engine'].isna().sum() + (data['Engine'] == 0).sum()
nan_zero_count_Power = data['Power'].isna().sum() + (data['Power'] == 0).sum()
nan_zero_count_Seats = data['Seats'].isna().sum() + (data['Seats'] == 0).sum()
nan_zero_count_New_Price = data['New_Price'].isna().sum() + (data['New_Price'] == 0).sum()
nan_zero_count_Price = data['Price'].isna().sum() + (data['Price'] == 0).sum()


print("Nan or Zero Count of Year:",nan_zero_count_Year)
print("Nan or Zero Count of Kilometers Driven:",nan_zero_count_Kilometers_Driven)
print("Nan or Zero Count of Fuel Type:",nan_zero_count_Fuel_Type)
print("Nan or Zero Count of Transmissiom:",nan_zero_count_Transmission)
print("Nan or Zero Count of Mileage:",nan_zero_count_Mileage)
print("Nan or Zero Count of Engine:",nan_zero_count_Engine)
print("Nan or Zero Count of Power:",nan_zero_count_Power)
print("Nan or Zero Count of Seats:",nan_zero_count_Seats)
print("Nan or Zero Count of New Price:",nan_zero_count_New_Price)
print("Nan or Zero Count of Price:",nan_zero_count_Price)

Nan or Zero Count of Year: 0
Nan or Zero Count of Kilometers Driven: 0
Nan or Zero Count of Fuel Type: 0
Nan or Zero Count of Transmissiom: 0
Nan or Zero Count of Mileage: 33
Nan or Zero Count of Engine: 5
Nan or Zero Count of Power: 5
Nan or Zero Count of Seats: 0
Nan or Zero Count of New Price: 5000
Nan or Zero Count of Price: 0

Finding the mean Mileage value which is group by Owner Type ,Fuel Type and Transmission.

I think these are the factors which Mileage is dependent.

In [253]:
mean_mileage = data.groupby(['Owner_Type', 'Fuel_Type', 'Transmission'])['Mileage'].mean()
mean_mileage

Owner_Type      Fuel_Type  Transmission
First           0          0               20.559717
                           1               15.851391
                1          0               18.414448
                           1               16.276260
                2          1                     NaN
Fourth & Above  0          0               13.575000
                1          0               15.400000
                           1                9.700000
Second          0          0               18.846028
                           1               15.057717
                1          0               17.225014
                           1               14.035368
Third           0          0               16.517419
                           1               16.928889
                1          0               16.270435
                           1               12.365333
Name: Mileage, dtype: float64

Filling with the mean value by grouping into a particular category by Owner Type ,Fuel Type and Transmission.

In [254]:
data['Mileage'] = data.groupby(['Owner_Type', 'Fuel_Type', 'Transmission'])['Mileage'].transform(lambda x: x.fillna(x.mean()).replace(0))

In [255]:
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,NaN,12.50
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,NaN,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,NaN,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,NaN,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,NaN,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,NaN,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,NaN,2.50

There are still NaN value because Fuel Type 'Electric' did not have Mileage.

In [256]:
nan_zero_count_Mileage = data['Mileage'].isna().sum() + (data['Mileage'] == 0).sum()
print("Nan or Zero Count of Mileage:",nan_zero_count_Mileage)

Nan or Zero Count of Mileage: 2

After filling that value to 10 there is no zero or Nan Values.

In [257]:
data['Mileage']=data['Mileage'].fillna(10)

In [258]:
nan_zero_count_Mileage = data['Mileage'].isna().sum() + (data['Mileage'] == 0).sum()
print("Nan or Zero Count of Mileage:",nan_zero_count_Mileage)

Nan or Zero Count of Mileage: 0

Filled Empty Values of Engine with value of Engine whose Name are similar.

In [259]:
name_to_engine = data[data['Engine'] != 0].groupby('Name')['Engine'].first().to_dict()
data['Engine'] = data.groupby('Name')['Engine'].transform(lambda x: x if x.iloc[0] != 0 else name_to_engine.get(x.name, 0))
data = data[data['Engine'] != 0]

Filled Empty Power Value rows with value of Power with help of mode of Power value with similar Name

In [ ]:
name_to_power = data[data['Power'] != 0].groupby('Name')['Power'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None).to_dict()
data['Power'] = data.groupby('Name')['Power'].transform(lambda x: x.replace(0).fillna(name_to_power.get(x.name)))

Replaced New_Price with Price Value:

In [ ]:
data['New_Price']=data['New_Price'].fillna(data['Price'])

In [267]:
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00
5844,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90
5845,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65
5846,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50

In [268]:
csv_filename = 'clean_train.csv'
df = pd.DataFrame(data)
df.to_csv(csv_filename, index=False)

Reading the cleaned data.

In [269]:
clean_data=pd.read_csv('clean_train.csv')
clean_data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50

Selection based on Name and Location Column.

In [270]:
name_and_Location = clean_data[['Name','Location']]
name_and_Location

                                  Name    Location
0     Hyundai Creta 1.6 CRDi SX Option        Pune
1                         Honda Jazz V     Chennai
2                    Maruti Ertiga VDI     Chennai
3      Audi A4 New 2.0 TDI Multitronic  Coimbatore
4               Nissan Micra Diesel XV      Jaipur
...                                ...         ...
5809                  Maruti Swift VDI       Delhi
5810          Hyundai Xcent 1.1 CRDi S      Jaipur
5811             Mahindra Xylo D4 BSIV      Jaipur
5812                Maruti Wagon R VXI     Kolkata
5813             Chevrolet Beat Diesel   Hyderabad

[5814 rows x 2 columns]

Selected all car from Coimbatore (Row based Selection).

In [271]:
cbe_cars=clean_data[clean_data['Location']=='Coimbatore']
cbe_cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74
32,Volkswagen Vento 1.6 Highline,Coimbatore,2014,55431,1,0,Second,16.09,1598,103.50,5,12.33,6.98
40,Mahindra KUV 100 mFALCON D75 K8 Dual Tone,Coimbatore,2017,22033,0,0,First,25.32,1198,77.00,6,5.58,5.58
65,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,0,1,First,16.55,1950,194.00,5,49.14,35.67
72,Honda Brio VX AT,Coimbatore,2016,37300,1,1,Second,16.50,1198,86.80,5,6.46,6.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5772,Hyundai i20 Asta Option 1.2,Coimbatore,2017,14618,1,0,First,18.60,1197,81.83,5,8.11,8.11
5785,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,0,1,Second,18.25,1968,187.74,5,53.14,16.52
5799,Hyundai Getz GLE,Coimbatore,2007,66800,1,0,First,15.30,1341,83.00,5,2.20,2.20
5807,Toyota Innova 2.5 V Diesel 7-seater,Coimbatore,2011,45004,0,0,First,12.80,2494,102.00,7,9.48,9.48
5808,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,0,0,First,25.80,1498,98.60,5,4.83,4.83

Selected Cars whose Kilometer driven is more than 1,00,000 and arranged in descending Order.

In [272]:
cars_kilometers_driven_morethan_100000 = clean_data[clean_data['Kilometers_Driven'] > 100000].sort_values(by='Kilometers_Driven', ascending=False)
cars_kilometers_driven_morethan_100000

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2249,BMW X5 xDrive 30d M Sport,Chennai,2017,6500000,0,1,First,15.97,2993,258.0,5,65.00,65.00
324,Skoda Octavia Ambition Plus 2.0 TDI AT,Kolkata,2013,775000,0,1,First,19.30,1968,141.0,5,7.50,7.50
1798,Volkswagen Vento Diesel Highline,Chennai,2013,720000,0,0,First,20.54,1598,103.6,5,5.90,5.90
342,Hyundai i10 Magna 1.2,Chennai,2009,620000,1,0,First,20.36,1197,78.9,5,2.70,2.70
2979,Honda City i VTEC SV,Kolkata,2015,480000,1,0,First,17.40,1497,117.3,5,5.00,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,Tata Indica V2 eLS,Chennai,2015,100073,0,0,Second,25.00,1396,69.0,5,2.00,2.00
1313,Tata Manza Aqua Quadrajet,Jaipur,2010,100030,0,0,Second,18.80,1248,90.0,5,1.60,1.60
1636,Mahindra Scorpio VLX,Mumbai,2011,100010,0,0,Second,12.05,2179,120.0,8,5.50,5.50
4888,Honda CR-V RVi MT,Jaipur,2008,100009,1,0,Second,13.10,1997,141.1,5,6.50,6.50
672,Ford Figo Diesel ZXI,Jaipur,2010,100002,0,0,Third,20.00,1399,68.0,5,1.28,1.28

Create new Age Column.

In [273]:
current_year = 2024
clean_data['Age'] = current_year - clean_data['Year']
clean_data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13

Created new column called Avg.KMs Per Year withe the help of age calculated above.

In [274]:
clean_data['Avg.KMs Per Year']=clean_data['Kilometers_Driven']/clean_data['Age']
clean_data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Avg.KMs Per Year
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9,4555.555556
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11,4181.818182
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13,3615.384615

Remaned the Avg.KMs Per Year to Kilometers_Driven Per Year

In [278]:
clean_data=clean_data.rename(columns={'Avg.KMs Per Year':'Kilometers_Driven Per Year'})

Created a new column called Fuel Efficiency with the help of Power and Engine.

In [279]:
clean_data['Fuel_Efficiency'] = clean_data['Power'] / clean_data['Engine']
clean_data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9,4555.555556,0.079772
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538,0.073978
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000,0.071122
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727,0.071545
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000,0.043190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000,0.059295
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111,0.063393
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333,0.044836
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11,4181.818182,0.067234
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13,3615.384615,0.061538

Summarize Grouped By Location.

Find the mean,max,min of Years using `describe()`

In [280]:
grouped_by_location = clean_data.groupby(['Location'])

for location, group_data in grouped_by_location:
    print(f"Location: {location}")
    display(group_data)
    print()
grouped_by_location['Year'].describe()

Location: Ahmedabad

<ipython-input-280-09ebc4b60130>:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for location, group_data in grouped_by_location:

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
44,Hyundai Elantra CRDi,Ahmedabad,2008,58005,0,0,Second,14.90,1991,112.20,5,4.25,4.25,16,3625.312500,0.056354
92,Hyundai Verna Transform SX VGT CRDi,Ahmedabad,2010,70002,0,0,First,16.20,1493,110.00,5,3.45,3.45,14,5000.142857,0.073677
101,Toyota Etios Liva 1.2 G,Ahmedabad,2014,53000,1,0,First,17.71,1197,78.90,5,6.41,3.90,10,5300.000000,0.065915
110,Toyota Innova 2.5 VX (Diesel) 7 Seater,Ahmedabad,2014,55000,0,0,First,12.99,2494,100.60,7,11.11,11.11,10,5500.000000,0.040337
153,Toyota Innova 2.5 G (Diesel) 7 Seater,Ahmedabad,2016,90000,0,0,First,12.99,2494,100.60,7,10.90,10.90,8,11250.000000,0.040337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5633,Hyundai i20 1.4 Sportz,Ahmedabad,2018,30000,0,0,First,22.54,1396,88.73,5,7.75,7.75,6,5000.000000,0.063560
5649,Maruti Esteem Vxi - BSIII,Ahmedabad,2005,81000,1,0,Second,15.90,1298,85.00,5,0.75,0.75,19,4263.157895,0.065485
5679,Mercedes-Benz C-Class Progressive C 220d,Ahmedabad,2019,4000,0,1,First,8.20,1950,194.00,5,49.14,35.00,5,800.000000,0.099487
5684,Maruti Alto K10 VXI AGS,Ahmedabad,2017,20000,1,1,First,24.07,998,67.10,5,4.00,4.00,7,2857.142857,0.067234
5771,Volkswagen Ameo 1.2 MPI Highline,Ahmedabad,2016,34005,1,0,First,17.00,1198,73.75,5,8.09,5.75,8,4250.625000,0.061561

Location: Bangalore

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,0,1,First,14.84,2143,167.62,5,28.00,28.00,10,7850.000000,0.078217
19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,0,0,Second,23.65,1248,88.50,5,8.25,8.25,9,6154.666667,0.070913
28,Renault Duster 110PS Diesel RxZ Pack,Bangalore,2013,62000,0,0,First,19.01,1461,108.45,5,7.75,7.75,11,5636.363636,0.074230
30,Mahindra Ssangyong Rexton RX7,Bangalore,2013,72000,0,1,Second,11.18,2696,184.00,7,12.50,12.50,11,6545.454545,0.068249
42,Hyundai Elantra 2.0 SX Option AT,Bangalore,2014,46374,1,1,First,14.62,1999,149.92,5,23.64,8.85,10,4637.400000,0.074997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5743,BMW 5 Series 2013-2017 530d M Sport,Bangalore,2016,16000,0,1,First,14.69,2993,258.00,5,48.00,48.00,8,2000.000000,0.086201
5747,Audi Q3 2.0 TDI,Bangalore,2014,65630,0,1,First,15.73,1968,174.33,5,21.75,21.75,10,6563.000000,0.088582
5764,Maruti Ertiga VXI,Bangalore,2014,42000,1,0,Second,16.02,1373,93.70,7,5.94,5.94,10,4200.000000,0.068245
5795,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,1,0,Second,18.50,1197,82.85,5,5.25,5.25,10,6801.000000,0.069215
5798,Maruti Celerio VXI,Bangalore,2015,67600,1,0,First,23.10,998,67.04,5,4.00,4.00,9,7511.111111,0.067174

Location: Chennai

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538,0.073978
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000,0.071122
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,0,0,Second,22.30,1248,74.00,5,1.95,1.95,12,5494.333333,0.059295
37,Volkswagen Polo Diesel Trendline 1.2L,Chennai,2013,62000,0,0,First,22.07,1199,73.90,5,5.00,5.00,11,5636.363636,0.061635
52,Hyundai Grand i10 Sportz,Chennai,2015,54000,1,0,Third,18.90,1197,82.00,5,3.60,3.60,9,6000.000000,0.068505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5729,Maruti Swift Dzire VXI Optional,Chennai,2015,49900,1,0,First,20.85,1197,83.14,5,4.80,4.80,9,5544.444444,0.069457
5731,Maruti Alto 800 2016-2019 LXI,Chennai,2016,5700,1,0,First,24.70,796,47.30,5,2.80,2.80,8,712.500000,0.059422
5751,Toyota Fortuner 4x4 AT,Chennai,2015,95000,0,1,First,12.55,2982,168.50,7,19.60,19.60,9,10555.555556,0.056506
5753,Toyota Innova 2.5 GX (Diesel) 7 Seater,Chennai,2012,96000,0,0,First,12.99,2494,100.00,7,11.50,11.50,12,8000.000000,0.040096
5794,Tata Bolt Revotron XT,Chennai,2016,10000,1,0,First,17.57,1193,88.70,5,7.77,4.00,8,1250.000000,0.074350

Location: Coimbatore

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727,0.071545
32,Volkswagen Vento 1.6 Highline,Coimbatore,2014,55431,1,0,Second,16.09,1598,103.50,5,12.33,6.98,10,5543.100000,0.064768
40,Mahindra KUV 100 mFALCON D75 K8 Dual Tone,Coimbatore,2017,22033,0,0,First,25.32,1198,77.00,6,5.58,5.58,7,3147.571429,0.064274
65,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,0,1,First,16.55,1950,194.00,5,49.14,35.67,5,3073.800000,0.099487
72,Honda Brio VX AT,Coimbatore,2016,37300,1,1,Second,16.50,1198,86.80,5,6.46,6.46,8,4662.500000,0.072454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5772,Hyundai i20 Asta Option 1.2,Coimbatore,2017,14618,1,0,First,18.60,1197,81.83,5,8.11,8.11,7,2088.285714,0.068363
5785,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,0,1,Second,18.25,1968,187.74,5,53.14,16.52,11,5329.909091,0.095396
5799,Hyundai Getz GLE,Coimbatore,2007,66800,1,0,First,15.30,1341,83.00,5,2.20,2.20,17,3929.411765,0.061894
5807,Toyota Innova 2.5 V Diesel 7-seater,Coimbatore,2011,45004,0,0,First,12.80,2494,102.00,7,9.48,9.48,13,3461.846154,0.040898
5808,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,0,0,First,25.80,1498,98.60,5,4.83,4.83,9,7844.666667,0.065821

Location: Delhi

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,0,1,First,12.70,2179,187.70,5,27.00,27.00,10,7200.000000,0.086140
13,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,0,First,13.50,2477,175.56,7,32.01,15.00,10,11000.000000,0.070876
29,Toyota Corolla Altis G,Delhi,2012,87615,1,0,First,14.53,1798,138.10,5,6.75,6.75,12,7301.250000,0.076808
35,Mahindra KUV 100 mFALCON G80 K6 5str AW,Delhi,2017,52000,1,0,First,18.15,1198,82.00,5,4.85,4.85,7,7428.571429,0.068447
38,Maruti Alto LXi,Delhi,2008,90000,1,0,Second,19.70,796,46.30,5,1.25,1.25,16,5625.000000,0.058166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5766,Toyota Innova 2.5 V Diesel 8-seater,Delhi,2010,72000,0,0,First,12.80,2494,102.00,8,5.45,5.45,14,5142.857143,0.040898
5773,Maruti Wagon R LX BSIII,Delhi,2006,65771,1,0,Second,17.30,1061,64.00,5,0.75,0.75,18,3653.944444,0.060320
5802,Maruti Swift Dzire Vdi BSIV,Delhi,2011,68000,0,0,First,19.30,1248,73.90,5,2.75,2.75,13,5230.769231,0.059215
5805,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,0,First,18.50,1198,86.80,5,6.63,3.20,11,3067.818182,0.072454
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000,0.059295

Location: Hyderabad

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
24,Nissan Micra Diesel XV,Hyderabad,2012,54000,0,0,First,16.48,1461,63.1,5,4.25,4.25,12,4500.000000,0.043190
25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,1,0,Second,20.92,998,67.1,5,2.75,2.75,11,4909.090909,0.067234
56,Nissan X-Trail SLX AT,Hyderabad,2010,121812,0,1,First,9.49,1995,147.6,5,7.75,7.75,14,8700.857143,0.073985
57,Maruti Zen Estilo VXI BSIII,Hyderabad,2010,39300,1,0,First,18.20,998,67.1,5,2.25,2.25,14,2807.142857,0.067234
75,Toyota Innova 2.5 VX 7 STR BSIV,Hyderabad,2012,104000,0,0,First,12.80,2494,102.0,7,11.75,11.75,12,8666.666667,0.040898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5775,Mahindra Xylo D4,Hyderabad,2016,105545,0,0,First,14.00,2498,112.0,7,5.30,5.30,8,13193.125000,0.044836
5787,Maruti Swift VDI,Hyderabad,2012,68238,0,0,First,22.90,1248,74.0,5,4.80,4.80,12,5686.500000,0.059295
5803,Porsche Panamera Diesel,Hyderabad,2013,40000,0,1,Second,17.85,2967,300.0,4,45.00,45.00,11,3636.363636,0.101112
5806,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,1,1,First,19.16,3597,262.6,5,4.75,4.75,15,3533.333333,0.073005
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.6,5,2.50,2.50,13,3615.384615,0.061538

Location: Jaipur

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000,0.043190
10,Maruti Swift VDI BSIV,Jaipur,2015,64424,0,0,First,25.20,1248,74.00,5,5.60,5.60,9,7158.222222,0.059295
15,Maruti Swift DDiS VDI,Jaipur,2017,25000,0,0,First,28.40,1248,74.00,5,5.99,5.99,7,3571.428571,0.059295
33,Maruti Wagon R LXI BSIII,Jaipur,2009,83816,1,0,Second,14.00,1061,64.00,5,1.85,1.85,15,5587.733333,0.060320
46,Hyundai Xcent 1.1 CRDi S,Jaipur,2014,75000,0,0,First,24.40,1120,71.00,5,3.85,3.85,10,7500.000000,0.063393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5776,ISUZU D-MAX V-Cross 4X4,Jaipur,2017,25000,0,0,First,12.40,2499,134.00,5,8.00,8.00,7,3571.428571,0.053621
5779,Tata Hexa XTA,Jaipur,2016,39000,0,1,First,17.60,2179,153.86,7,21.00,13.50,8,4875.000000,0.070610
5782,Hyundai Getz GLS,Jaipur,2005,100000,1,0,Second,15.30,1341,83.00,5,0.85,0.85,19,5263.157895,0.061894
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111,0.063393
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333,0.044836

Location: Kochi

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
8,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,First,21.56,1462,103.25,5,10.65,9.95,6,4282.000000,0.070622
14,Honda Amaze S i-Dtech,Kochi,2016,58950,0,0,First,25.80,1498,98.60,5,5.40,5.40,8,7368.750000,0.065821
16,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,0,0,First,20.45,1461,83.80,5,6.34,6.34,10,7746.900000,0.057358
18,BMW 3 Series 320d,Kochi,2014,32982,0,1,First,22.69,1995,190.00,5,47.87,18.55,10,3298.200000,0.095238
26,Honda WRV i-VTEC VX,Kochi,2018,37430,1,0,First,17.50,1199,88.70,5,10.57,9.90,6,6238.333333,0.073978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5736,Ford Figo Aspire 1.5 TDCi Titanium Plus,Kochi,2016,33554,0,0,First,25.83,1498,99.00,5,6.22,6.22,8,4194.250000,0.066088
5767,Mercedes-Benz GLA Class 200 Sport,Kochi,2018,17773,1,1,First,13.70,1991,183.00,5,39.22,26.76,6,2962.166667,0.091914
5783,Tata Tiago 1.2 Revotron XT,Kochi,2017,15386,1,0,First,23.84,1199,84.00,5,5.56,5.11,7,2198.000000,0.070058
5792,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,0,1,First,16.36,2179,187.70,5,30.54,30.54,8,3893.750000,0.086140
5796,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,0,1,First,17.68,1968,174.33,5,17.56,17.56,11,8354.818182,0.088582

Location: Kolkata

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,1,1,First,16.80,1497,116.3,5,4.49,4.49,12,5000.000000,0.077689
21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,1,0,First,18.50,1197,80.0,5,1.87,1.87,14,3271.928571,0.066834
22,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,1,1,First,14.40,1598,103.6,5,2.85,2.85,14,2357.142857,0.064831
31,Audi A6 2.7 TDI,Kolkata,2010,35000,0,1,First,12.40,2698,179.5,5,11.50,11.50,14,2500.000000,0.066531
50,Maruti Swift Ldi BSIV,Kolkata,2014,53000,0,0,First,17.80,1248,75.0,5,3.30,3.30,10,5300.000000,0.060096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5746,Chevrolet Beat LS,Kolkata,2013,25000,1,0,First,18.60,1199,79.4,5,1.75,1.75,11,2272.727273,0.066222
5759,Maruti Ritz VDi,Kolkata,2010,47722,0,0,First,21.10,1248,73.9,5,1.70,1.70,14,3408.714286,0.059215
5770,Hyundai Verna 1.6 CRDi EX MT,Kolkata,2013,53280,0,0,First,22.32,1582,126.3,5,4.70,4.70,11,4843.636364,0.079836
5780,Volkswagen Polo Petrol Comfortline 1.2L,Kolkata,2011,55001,1,0,First,16.47,1198,73.9,5,2.20,2.20,13,4230.846154,0.061686
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.1,5,2.65,2.65,11,4181.818182,0.067234

Location: Mumbai

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,First,11.36,2755,171.50,8,21.00,17.50,8,4500.000000,0.062250
20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,1,1,First,13.53,1984,177.01,5,23.50,23.50,9,6220.555556,0.089219
23,Honda City Corporate Edition,Mumbai,2012,51920,1,0,First,16.80,1497,116.30,5,4.25,4.25,12,4326.666667,0.077689
27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,0,0,Fourth & Above,12.80,2494,102.00,7,4.00,4.00,17,15411.764706,0.040898
43,Toyota Corolla Altis G AT,Mumbai,2016,52001,1,1,First,14.28,1798,138.03,5,10.11,10.11,8,6500.125000,0.076769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5788,Skoda Superb Elegance 1.8 TSI AT,Mumbai,2011,42036,1,1,First,13.70,1798,157.75,5,6.25,6.25,13,3233.538462,0.087736
5789,Hyundai Elantra SX,Mumbai,2014,55619,1,0,First,16.30,1797,147.50,5,8.30,8.30,10,5561.900000,0.082081
5797,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,0,First,16.09,1598,103.50,5,11.91,3.25,13,2923.076923,0.064768
5801,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,0,1,First,8.70,2987,224.34,5,10.75,10.75,15,6800.133333,0.075105
5804,Toyota Camry Hybrid,Mumbai,2015,33500,1,1,First,19.16,2494,158.20,5,19.75,19.75,9,3722.222222,0.063432

Location: Pune

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.2,5,12.50,12.50,9,4555.555556,0.079772
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,0,0,First,20.54,1598,103.6,5,5.20,5.20,11,5857.272727,0.064831
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,0,1,Second,15.20,2179,115.0,5,17.50,17.50,12,7083.333333,0.052777
36,Mercedes-Benz M-Class ML 350 CDI,Pune,2013,85000,0,1,First,11.74,2987,254.8,5,28.00,28.00,11,7727.272727,0.085303
61,Mercedes-Benz New C-Class 200 CDI Classic,Pune,2011,65000,0,0,Second,15.80,2148,170.0,5,10.00,10.00,13,5000.000000,0.079143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5786,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,0,0,Third,13.93,2179,138.0,7,0.60,0.60,16,5375.000000,0.063332
5790,Honda City 1.5 E MT,Pune,2009,60000,1,0,Third,17.00,1497,118.0,5,3.25,3.25,15,4000.000000,0.078824
5791,Renault Duster 85PS Diesel RxL Explore,Pune,2015,30000,0,0,First,19.87,1461,83.8,5,7.75,7.75,9,3333.333333,0.057358
5793,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,1,0,Second,17.24,1198,73.9,5,2.96,2.96,14,5020.714286,0.061686
5800,Maruti Vitara Brezza VDi,Pune,2016,37208,0,0,First,24.30,1248,88.5,5,9.93,7.43,8,4651.000000,0.070913

,count,mean,std,min,25%,50%,75%,max
Location,,,,,,,,
Ahmedabad,218.0,2013.339450,2.883994,2002.0,2012.0,2014.0,2015.0,2019.0
Bangalore,348.0,2012.862069,2.776694,2002.0,2011.0,2013.0,2015.0,2018.0
Chennai,475.0,2012.086316,3.578375,2001.0,2010.0,2012.0,2015.0,2019.0
Coimbatore,629.0,2015.446741,2.483534,2004.0,2014.0,2016.0,2017.0,2019.0
Delhi,535.0,2013.375701,2.406874,2006.0,2012.0,2014.0,2015.0,2019.0
Hyderabad,709.0,2012.825106,3.101465,2000.0,2011.0,2013.0,2015.0,2019.0
Jaipur,401.0,2012.658354,3.646298,1998.0,2011.0,2013.0,2015.0,2019.0
Kochi,637.0,2015.533752,2.405616,2003.0,2014.0,2016.0,2017.0,2019.0
Kolkata,521.0,2013.140115,2.743093,2000.0,2011.0,2013.0,2015.0,2019.0
Mumbai,758.0,2013.390501,3.072530,1998.0,2011.0,2014.0,2016.0,2019.0
Pune,583.0,2012.442539,3.438669,1999.0,2010.0,2013.0,2015.0,2019.0

Grouped By Owner Type and find the Mileage columns mean ,max and min.

In [281]:
grouped_by_owner_type = clean_data.groupby(['Owner_Type'])

for owner_type, group_data in grouped_by_owner_type:
    print(f"Owner Type: {owner_type}")
    display(group_data)
    print()
grouped_by_owner_type['Mileage'].describe()

Owner Type: First

<ipython-input-281-9aff8908b588>:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for owner_type, group_data in grouped_by_owner_type:

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9,4555.555556,0.079772
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538,0.073978
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000,0.071122
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000,0.043190
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,First,11.36,2755,171.50,8,21.00,17.50,8,4500.000000,0.062250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,0,0,First,25.80,1498,98.60,5,4.83,4.83,9,7844.666667,0.065821
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000,0.059295
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111,0.063393
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11,4181.818182,0.067234
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13,3615.384615,0.061538

Owner Type: Fourth & Above

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,0,0,Fourth & Above,12.8,2494,102.0,7,4.00,4.00,17,15411.764706,0.040898
853,Maruti Grand Vitara AT,Chennai,2008,77000,1,1,Fourth & Above,9.7,1995,163.5,5,5.50,5.50,16,4812.500000,0.081955
1042,Hyundai i20 1.2 Sportz Option,Bangalore,2010,61000,1,0,Fourth & Above,17.0,1197,80.0,5,3.25,3.25,14,4357.142857,0.066834
1639,Ford Endeavour 4x2 XLT Limited Edition,Pune,2007,90000,0,0,Fourth & Above,10.9,2499,143.0,7,3.00,3.00,17,5294.117647,0.057223
2879,Toyota Innova 2.5 G4 Diesel 8-seater,Chennai,2005,240000,0,0,Fourth & Above,12.8,2494,102.0,8,5.10,5.10,19,12631.578947,0.040898
3245,Maruti Swift Ldi BSIII,Pune,2009,80000,0,0,Fourth & Above,17.8,1248,75.0,5,2.15,2.15,15,5333.333333,0.060096
3994,Ford Ikon 1.3 Flair,Coimbatore,2008,59833,1,0,Fourth & Above,13.8,1299,70.0,5,1.97,1.97,16,3739.562500,0.053888

Owner Type: Second

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727,0.071545
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,0,0,Second,22.30,1248,74.00,5,1.95,1.95,12,5494.333333,0.059295
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,0,1,Second,15.20,2179,115.00,5,17.50,17.50,12,7083.333333,0.052777
19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,0,0,Second,23.65,1248,88.50,5,8.25,8.25,9,6154.666667,0.070913
25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,1,0,Second,20.92,998,67.10,5,2.75,2.75,11,4909.090909,0.067234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5785,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,0,1,Second,18.25,1968,187.74,5,53.14,16.52,11,5329.909091,0.095396
5793,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,1,0,Second,17.24,1198,73.90,5,2.96,2.96,14,5020.714286,0.061686
5795,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,1,0,Second,18.50,1197,82.85,5,5.25,5.25,10,6801.000000,0.069215
5803,Porsche Panamera Diesel,Hyderabad,2013,40000,0,1,Second,17.85,2967,300.00,4,45.00,45.00,11,3636.363636,0.101112
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333,0.044836

Owner Type: Third

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
52,Hyundai Grand i10 Sportz,Chennai,2015,54000,1,0,Third,18.90,1197,82.0,5,3.60,3.60,9,6000.000000,0.068505
74,Toyota Innova 2.0 G1,Chennai,2006,230000,1,0,Third,12.40,1998,132.0,8,4.50,4.50,18,12777.777778,0.066066
245,Maruti Omni MPI CARGO BSIII W/ IMMOBILISER,Jaipur,2011,35000,1,0,Third,19.70,796,35.0,5,1.85,1.85,13,2692.307692,0.043970
261,Maruti Zen VXI BSII,Mumbai,2002,60000,1,0,Third,17.30,993,60.0,5,0.55,0.55,22,2727.272727,0.060423
314,Hyundai i10 Sportz AT,Bangalore,2009,37000,1,1,Third,16.95,1197,78.9,5,2.95,2.95,15,2466.666667,0.065915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5525,Maruti Zen LX,Jaipur,1998,95150,1,0,Third,17.30,993,60.0,5,0.53,0.53,26,3659.615385,0.060423
5587,Lamborghini Gallardo Coupe,Delhi,2011,6500,1,1,Third,6.40,5204,560.0,2,120.00,120.00,13,500.000000,0.107610
5740,Ford Endeavour 2.5L 4X2 MT,Jaipur,2011,119000,0,0,Third,13.10,2499,141.0,7,6.50,6.50,13,9153.846154,0.056423
5786,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,0,0,Third,13.93,2179,138.0,7,0.60,0.60,16,5375.000000,0.063332
5790,Honda City 1.5 E MT,Pune,2009,60000,1,0,Third,17.00,1497,118.0,5,3.25,3.25,15,4000.000000,0.078824

                 count       mean       std   min    25%    50%    75%   max
Owner_Type
First           4789.0  18.560420  4.108949  7.50  15.73  18.60  21.40  28.4
Fourth & Above     7.0  13.542857  2.972012  9.70  11.85  12.80  15.40  17.8
Second           917.0  17.136140  3.830529  8.45  14.21  17.00  19.64  28.4
Third            101.0  15.824950  3.624758  6.40  13.10  16.07  18.10  28.4

grouped By Fuel Type and find the Engine mean , max and min using `describe()`

In [282]:
grouped_by_Fuel_Type = clean_data.groupby(['Fuel_Type'])

for fuel_type, group_data in grouped_by_Fuel_Type:
    print(f"Fuel Type: {fuel_type}")
    display(group_data)
    print()
grouped_by_Fuel_Type['Engine'].describe()

Fuel Type: 0

<ipython-input-282-e0e5c2efb69c>:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for fuel_type, group_data in grouped_by_Fuel_Type:

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9,4555.555556,0.079772
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000,0.071122
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727,0.071545
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000,0.043190
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,First,11.36,2755,171.50,8,21.00,17.50,8,4500.000000,0.062250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,0,0,First,25.80,1498,98.60,5,4.83,4.83,9,7844.666667,0.065821
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000,0.059295
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111,0.063393
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333,0.044836
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13,3615.384615,0.061538

Fuel Type: 1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538,0.073978
8,Maruti Ciaz Zeta,Kochi,2018,25692,1,0,First,21.56,1462,103.25,5,10.65,9.95,6,4282.000000,0.070622
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,1,1,First,16.80,1497,116.30,5,4.49,4.49,12,5000.000000,0.077689
20,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,1,1,First,13.53,1984,177.01,5,23.50,23.50,9,6220.555556,0.089219
21,Hyundai i20 1.2 Magna,Kolkata,2010,45807,1,0,First,18.50,1197,80.00,5,1.87,1.87,14,3271.928571,0.066834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5799,Hyundai Getz GLE,Coimbatore,2007,66800,1,0,First,15.30,1341,83.00,5,2.20,2.20,17,3929.411765,0.061894
5804,Toyota Camry Hybrid,Mumbai,2015,33500,1,1,First,19.16,2494,158.20,5,19.75,19.75,9,3722.222222,0.063432
5805,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,0,First,18.50,1198,86.80,5,6.63,3.20,11,3067.818182,0.072454
5806,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,1,1,First,19.16,3597,262.60,5,4.75,4.75,15,3533.333333,0.073005
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11,4181.818182,0.067234

Fuel Type: 2

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
4287,Mahindra E Verito D4,Chennai,2016,50000,2,1,First,10.0,72,41.0,5,13.58,13.00,8,6250.000000,0.569444
4732,Toyota Prius 2009-2016 Z4,Mumbai,2011,44000,2,1,First,10.0,1798,73.0,5,12.75,12.75,13,3384.615385,0.040601

,count,mean,std,min,25%,50%,75%,max
Fuel_Type,,,,,,,,
0,3152.0,1866.133883,588.478504,793.0,1396.0,1598.0,2179.0,4806.0
1,2660.0,1353.836842,488.039051,624.0,1196.0,1198.0,1497.0,5998.0
2,2.0,935.000000,1220.466304,72.0,503.5,935.0,1366.5,1798.0

Grouped by Transmission and used `describe()` with Power

In [283]:
grouped_by_transmission = clean_data.groupby(['Transmission'])

for transmission, group_data in grouped_by_transmission:
    print(f"Transmission: {transmission}")
    display(group_data)
    print()
grouped_by_transmission['Power'].describe()

Transmission: 0

<ipython-input-283-81af623a0853>:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for transmission, group_data in grouped_by_transmission:

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9,4555.555556,0.079772
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538,0.073978
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000,0.071122
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000,0.043190
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,0,0,First,20.54,1598,103.60,5,5.20,5.20,11,5857.272727,0.064831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000,0.059295
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111,0.063393
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333,0.044836
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11,4181.818182,0.067234
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13,3615.384615,0.061538

Transmission: 1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727,0.071545
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,First,11.36,2755,171.50,8,21.00,17.50,8,4500.000000,0.062250
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,1,1,First,16.80,1497,116.30,5,4.49,4.49,12,5000.000000,0.077689
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,0,1,First,12.70,2179,187.70,5,27.00,27.00,10,7200.000000,0.086140
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,0,1,Second,15.20,2179,115.00,5,17.50,17.50,12,7083.333333,0.052777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5796,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,0,1,First,17.68,1968,174.33,5,17.56,17.56,11,8354.818182,0.088582
5801,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,0,1,First,8.70,2987,224.34,5,10.75,10.75,15,6800.133333,0.075105
5803,Porsche Panamera Diesel,Hyderabad,2013,40000,0,1,Second,17.85,2967,300.00,4,45.00,45.00,11,3636.363636,0.101112
5804,Toyota Camry Hybrid,Mumbai,2015,33500,1,1,First,19.16,2494,158.20,5,19.75,19.75,9,3722.222222,0.063432
5806,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,1,1,First,19.16,3597,262.60,5,4.75,4.75,15,3533.333333,0.073005

,count,mean,std,min,25%,50%,75%,max
Transmission,,,,,,,,
0,4110.0,91.519290,27.349777,34.20,73.90,86.7,103.52,210.0
1,1704.0,167.515076,63.413917,37.48,121.85,170.0,190.00,560.0

Grouped by Owner Type and Transmission.

Used `describe()` for Mileage

In [284]:
grouped_owner_type_transmission_data = clean_data.groupby(['Owner_Type', 'Transmission'])
for (owner_type, transmission), group_data in grouped_owner_type_transmission_data:
    print(f"Owner Type: {owner_type}, Transmission: {transmission}")
    display(group_data)
    print()
grouped_owner_type_transmission_data['Mileage'].describe()

Owner Type: First, Transmission: 0

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,First,19.67,1582,126.20,5,12.50,12.50,9,4555.555556,0.079772
1,Honda Jazz V,Chennai,2011,46000,1,0,First,13.00,1199,88.70,5,8.61,4.50,13,3538.461538,0.073978
2,Maruti Ertiga VDI,Chennai,2012,87000,0,0,First,20.77,1248,88.76,7,6.00,6.00,12,7250.000000,0.071122
4,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,First,23.08,1461,63.10,5,3.50,3.50,11,7909.000000,0.043190
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,0,0,First,20.54,1598,103.60,5,5.20,5.20,11,5857.272727,0.064831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,0,0,First,25.80,1498,98.60,5,4.83,4.83,9,7844.666667,0.065821
5809,Maruti Swift VDI,Delhi,2014,27365,0,0,First,28.40,1248,74.00,5,7.88,4.75,10,2736.500000,0.059295
5810,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,First,24.40,1120,71.00,5,4.00,4.00,9,11111.111111,0.063393
5812,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,First,18.90,998,67.10,5,2.65,2.65,11,4181.818182,0.067234
5813,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,First,25.44,936,57.60,5,2.50,2.50,13,3615.384615,0.061538

Owner Type: First, Transmission: 1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,First,11.36,2755,171.50,8,21.00,17.50,8,4500.000000,0.062250
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,1,1,First,16.80,1497,116.30,5,4.49,4.49,12,5000.000000,0.077689
11,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,0,1,First,12.70,2179,187.70,5,27.00,27.00,10,7200.000000,0.086140
17,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,0,1,First,14.84,2143,167.62,5,28.00,28.00,10,7850.000000,0.078217
18,BMW 3 Series 320d,Kochi,2014,32982,0,1,First,22.69,1995,190.00,5,47.87,18.55,10,3298.200000,0.095238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,0,1,First,16.36,2179,187.70,5,30.54,30.54,8,3893.750000,0.086140
5796,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,0,1,First,17.68,1968,174.33,5,17.56,17.56,11,8354.818182,0.088582
5801,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,0,1,First,8.70,2987,224.34,5,10.75,10.75,15,6800.133333,0.075105
5804,Toyota Camry Hybrid,Mumbai,2015,33500,1,1,First,19.16,2494,158.20,5,19.75,19.75,9,3722.222222,0.063432
5806,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,1,1,First,19.16,3597,262.60,5,4.75,4.75,15,3533.333333,0.073005

Owner Type: Fourth & Above, Transmission: 0

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
27,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,0,0,Fourth & Above,12.8,2494,102.0,7,4.00,4.00,17,15411.764706,0.040898
1042,Hyundai i20 1.2 Sportz Option,Bangalore,2010,61000,1,0,Fourth & Above,17.0,1197,80.0,5,3.25,3.25,14,4357.142857,0.066834
1639,Ford Endeavour 4x2 XLT Limited Edition,Pune,2007,90000,0,0,Fourth & Above,10.9,2499,143.0,7,3.00,3.00,17,5294.117647,0.057223
2879,Toyota Innova 2.5 G4 Diesel 8-seater,Chennai,2005,240000,0,0,Fourth & Above,12.8,2494,102.0,8,5.10,5.10,19,12631.578947,0.040898
3245,Maruti Swift Ldi BSIII,Pune,2009,80000,0,0,Fourth & Above,17.8,1248,75.0,5,2.15,2.15,15,5333.333333,0.060096
3994,Ford Ikon 1.3 Flair,Coimbatore,2008,59833,1,0,Fourth & Above,13.8,1299,70.0,5,1.97,1.97,16,3739.562500,0.053888

Owner Type: Fourth & Above, Transmission: 1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
853,Maruti Grand Vitara AT,Chennai,2008,77000,1,1,Fourth & Above,9.7,1995,163.5,5,5.5,5.5,16,4812.5,0.081955

Owner Type: Second, Transmission: 0

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,0,0,Second,22.30,1248,74.00,5,1.95,1.95,12,5494.333333,0.059295
19,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,0,0,Second,23.65,1248,88.50,5,8.25,8.25,9,6154.666667,0.070913
25,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,1,0,Second,20.92,998,67.10,5,2.75,2.75,11,4909.090909,0.067234
32,Volkswagen Vento 1.6 Highline,Coimbatore,2014,55431,1,0,Second,16.09,1598,103.50,5,12.33,6.98,10,5543.100000,0.064768
33,Maruti Wagon R LXI BSIII,Jaipur,2009,83816,1,0,Second,14.00,1061,64.00,5,1.85,1.85,15,5587.733333,0.060320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5774,Tata Indica LEI,Pune,2006,78000,1,0,Second,13.50,1405,60.00,5,1.00,1.00,18,4333.333333,0.042705
5782,Hyundai Getz GLS,Jaipur,2005,100000,1,0,Second,15.30,1341,83.00,5,0.85,0.85,19,5263.157895,0.061894
5793,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,1,0,Second,17.24,1198,73.90,5,2.96,2.96,14,5020.714286,0.061686
5795,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,1,0,Second,18.50,1197,82.85,5,5.25,5.25,10,6801.000000,0.069215
5811,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,Second,14.00,2498,112.00,8,2.90,2.90,12,4583.333333,0.044836

Owner Type: Second, Transmission: 1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,Second,15.20,1968,140.80,5,17.74,17.74,11,3697.272727,0.071545
12,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,0,1,Second,15.20,2179,115.00,5,17.50,17.50,12,7083.333333,0.052777
30,Mahindra Ssangyong Rexton RX7,Bangalore,2013,72000,0,1,Second,11.18,2696,184.00,7,12.50,12.50,11,6545.454545,0.068249
64,Honda City ZX CVT,Mumbai,2007,63000,1,1,Second,16.40,1497,78.00,5,1.85,1.85,17,3705.882353,0.052104
72,Honda Brio VX AT,Coimbatore,2016,37300,1,1,Second,16.50,1198,86.80,5,6.46,6.46,8,4662.500000,0.072454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5687,Mercedes-Benz R-Class R350 4Matic Long,Pune,2010,93000,1,1,Second,11.80,3498,272.00,7,15.00,15.00,14,6642.857143,0.077759
5745,Skoda Laura L and K AT,Hyderabad,2007,91000,0,1,Second,15.60,1896,106.00,5,2.45,2.45,17,5352.941176,0.055907
5756,Toyota Corolla Altis 1.8 G CVT,Delhi,2010,109703,1,1,Second,14.28,1798,138.03,5,20.46,4.00,14,7835.928571,0.076769
5785,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,0,1,Second,18.25,1968,187.74,5,53.14,16.52,11,5329.909091,0.095396
5803,Porsche Panamera Diesel,Hyderabad,2013,40000,0,1,Second,17.85,2967,300.00,4,45.00,45.00,11,3636.363636,0.101112

Owner Type: Third, Transmission: 0

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
52,Hyundai Grand i10 Sportz,Chennai,2015,54000,1,0,Third,18.90,1197,82.0,5,3.60,3.60,9,6000.000000,0.068505
74,Toyota Innova 2.0 G1,Chennai,2006,230000,1,0,Third,12.40,1998,132.0,8,4.50,4.50,18,12777.777778,0.066066
245,Maruti Omni MPI CARGO BSIII W/ IMMOBILISER,Jaipur,2011,35000,1,0,Third,19.70,796,35.0,5,1.85,1.85,13,2692.307692,0.043970
261,Maruti Zen VXI BSII,Mumbai,2002,60000,1,0,Third,17.30,993,60.0,5,0.55,0.55,22,2727.272727,0.060423
340,Honda CR-V RVi MT,Jaipur,2007,119000,1,0,Third,13.10,1997,141.1,5,3.91,3.91,17,7000.000000,0.070656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5454,Maruti Baleno LXI,Pune,2006,155000,1,0,Third,15.40,1590,94.0,5,0.85,0.85,18,8611.111111,0.059119
5525,Maruti Zen LX,Jaipur,1998,95150,1,0,Third,17.30,993,60.0,5,0.53,0.53,26,3659.615385,0.060423
5740,Ford Endeavour 2.5L 4X2 MT,Jaipur,2011,119000,0,0,Third,13.10,2499,141.0,7,6.50,6.50,13,9153.846154,0.056423
5786,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,0,0,Third,13.93,2179,138.0,7,0.60,0.60,16,5375.000000,0.063332
5790,Honda City 1.5 E MT,Pune,2009,60000,1,0,Third,17.00,1497,118.0,5,3.25,3.25,15,4000.000000,0.078824

Owner Type: Third, Transmission: 1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Age,Kilometers_Driven Per Year,Fuel_Efficiency
314,Hyundai i10 Sportz AT,Bangalore,2009,37000,1,1,Third,16.95,1197,78.90,5,2.95,2.95,15,2466.666667,0.065915
357,Audi Q7 3.0 TDI Quattro Premium Plus,Mumbai,2008,99000,0,1,Third,12.07,2967,241.40,7,12.95,12.95,16,6187.500000,0.081362
626,Honda City ZX CVT,Chennai,2005,100000,1,1,Third,16.40,1497,78.00,5,1.96,1.96,19,5263.157895,0.052104
1237,Volkswagen Vento Petrol Highline AT,Pune,2011,42000,1,1,Third,14.40,1598,103.60,5,3.40,3.40,13,3230.769231,0.064831
1370,BMW 3 Series 320d Highline,Mumbai,2009,58557,0,1,Third,16.07,1995,181.00,5,8.00,8.00,15,3903.800000,0.090727
1395,Hyundai i20 1.4 Asta (AT),Chennai,2009,72000,1,1,Third,15.00,1396,100.00,5,3.25,3.25,15,4800.000000,0.071633
1459,Honda Accord 2.4 AT,Mumbai,2008,125000,1,1,Third,11.70,2354,177.60,5,2.60,2.60,16,7812.500000,0.075446
1776,Chevrolet Cruze LTZ AT,Pune,2009,73204,0,1,Third,18.10,1991,147.90,4,3.50,3.50,15,4880.266667,0.074284
1866,Mercedes-Benz S Class 2005 2013 S 350 L,Mumbai,2007,55000,1,1,Third,10.13,3498,364.90,5,9.99,9.99,17,3235.294118,0.104317
2212,Audi A6 3.0 TDI quattro,Bangalore,2011,50000,0,1,Third,16.77,2967,241.38,5,21.00,21.00,13,3846.153846,0.081355
2330,Honda CR-V 2.4 AT,Pune,2007,115800,1,1,Third,10.10,2354,152.00,5,3.80,3.80,17,6811.764706,0.064571
2869,Porsche Panamera 2010 2013 4S,Coimbatore,2010,42400,1,1,Third,8.00,4806,394.30,4,42.91,42.91,14,3028.571429,0.082043
2920,BMW 3 Series 320d Sport,Mumbai,2012,37000,0,1,Third,22.69,1995,190.00,5,15.00,15.00,12,3083.333333,0.095238
2955,Honda City 1.5 EXI AT,Kochi,2006,99583,1,1,Third,12.00,1493,100.00,5,2.21,2.21,18,5532.388889,0.066979
3272,Hyundai Verna 1.6 SX VTVT (O) AT,Chennai,2012,36300,1,1,Third,17.10,1591,121.40,5,7.50,7.50,12,3025.000000,0.076304
3343,BMW 3 Series 320d Highline,Chennai,2008,170000,0,1,Third,16.07,1995,181.00,5,9.75,9.75,16,10625.000000,0.090727
3732,Honda Accord VTi-L AT,Delhi,2009,65462,1,1,Third,11.10,2354,142.00,5,3.50,3.50,15,4364.133333,0.060323
4487,BMW X1 sDrive20d,Chennai,2012,85000,0,1,Third,17.05,1995,184.00,5,10.00,10.00,12,7083.333333,0.092231
4591,Honda CR-V 2.4 4WD AT,Jaipur,2006,80000,1,1,Third,10.10,2354,152.00,5,2.00,2.00,18,4444.444444,0.064571
5166,BMW X1 sDrive 20d Exclusive,Chennai,2012,115000,0,1,Third,15.06,1995,177.00,5,10.00,10.00,12,9583.333333,0.088722
5204,Honda Accord 2.4 AT,Mumbai,2008,95000,1,1,Third,11.70,2354,177.60,5,2.85,2.85,16,5937.500000,0.075446
5222,BMW 5 Series 2003-2012 520d,Pune,2010,170000,0,1,Third,18.48,1995,177.00,5,12.00,12.00,14,12142.857143,0.088722
5381,Honda CR-V Petrol 2WD,Chennai,2004,135000,1,1,Third,14.40,1997,152.00,5,33.51,3.00,20,6750.000000,0.076114
5587,Lamborghini Gallardo Coupe,Delhi,2011,6500,1,1,Third,6.40,5204,560.00,2,120.00,120.00,13,500.000000,0.107610

                              count       mean       std    min     25%  \
Owner_Type     Transmission
First          0             3389.0  19.544287  3.858653   9.50  17.000
               1             1400.0  16.178757  3.701864   7.50  13.000
Fourth & Above 0                6.0  14.183333  2.674634  10.90  12.800
               1                1.0   9.700000       NaN   9.70   9.700
Second         0              638.0  18.068527  3.661033   9.50  15.725
               1              279.0  15.004014  3.328342   8.45  12.070
Third          0               77.0  16.369870  3.417214   9.80  13.600
               1               24.0  14.076667  3.788934   6.40  11.550

                               50%      75%    max
Owner_Type     Transmission
First          0             19.40  22.5400  28.40
               1             16.36  18.7325  28.40
Fourth & Above 0             13.30  16.2000  17.80
               1              9.70   9.7000   9.70
Second         0             17.80  20.3600  28.40
               1             14.70  16.9500  24.04
Third          0             16.47  18.7000  28.40
               1             14.70  16.8150  22.69